<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Share</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index_style.css') }}">
</head>
<body>
    <h1 style="color:rgb(182, 1, 182); margin: 20px;"><strong>Recipe Share</strong></h1>
    <div class="container">
        <div class="registration">
            <h2 style="color: rgb(0, 110, 255)">Register</h2>
            <div class="errors">
                {% with messages = get_flashed_messages(category_filter=["registration"]) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            
            <form action="/register" method="post">
                <label for="first_name" class="form-label">First Name:</label>
                <input type="text" class="form-control" id="first_name" name="fname">

                <label for="last_name" class="form-label">Last Name:</label>
                <input type="text" class="form-control" id="last_name" name="lname">

                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" name="email">

                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" name="pword">

                <label for="confirm" class="form-label">Confirm Password:</label>
                <input type="password" class="form-control" id="confirm" name="confirm">

                <button type="submit" style="color: white; background-color: rgb(0, 110, 255)">Register</button>
            </form>
        </div>
        <div class="login">
            <h2 style="color: rgb(86, 229, 86)">Login</h2>
            <div class="errors">
                {% with messages = get_flashed_messages(category_filter=["login"]) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <form action="/login" method="post">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" name="email">

                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" name="password">

                <button type="submit" style="color: white; background-color: rgb(86, 229, 86)">Login</button>
            </form>
        </div>
    </div>
</body>
</html>