*{
    margin: 0px;
    padding: 0px;
}

.container{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
}

.options{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

button{
    padding: 0px 10px;
}